@if (imageKey()) {
  <figure class="chart-image" [class.chart-image-compact]="compact()">
    @if (loading()) {
      <div class="skel chart-image-skel" aria-busy="true"></div>
    } @else if (failed()) {
      @if (!compact()) {
        <p class="chart-image-msg">Couldn't load the chart image.</p>
      }
    } @else if (url(); as src) {
      <img class="chart-image-img" [src]="src" [alt]="alt()" loading="lazy" />
      @if (!compact()) {
        <figcaption class="chart-image-cap">The chart this analysis was run on</figcaption>
      }
    }
  </figure>
}
